<h1>Dashboard <small>{{version}}</small></h1>
<hr>
<div class="panel panel-info">
	<div class="panel-heading">
		CONDOMIO CANQUEN
	</div>
	<div class="panel-body" ng-controller="DashboardController">
		
			<div class="col-md-4" ng-repeat="p in clients" >
				<div class="panel panel-{{ClassSuccess(p.active)}}">
					<div class="panel-heading">
						{{p.id}} | {{p.name}}
					</div>
					<div class="panel-body">
						<h1 class="text-center">
							<i class="{{ClassOK(p.active)}}"></i>
							<br>
							<small>{{p.sync}}</small>
						</h1>
						<hr>
						<p>Version: {{p.version}}</p>
						<p>IP: {{p.ip}}</p>
						<p>CPU: {{p.cpu}}%</p>
						<p>
						Memoria RAM:
						<br>
						Total: {{p.ram[0] /1024 /1024 | number:0}} MB <br>
						Usada: {{p.ram[3] /1024 /1024 | number:0}} MB <br>
						Libre: {{p.ram[4] /1024 /1024 | number:0}} MB </p>
						<button ng-click="irDetalle(p.id)" class="form-control btn btn-{{ClassSuccess(p.active)}}">ver mas</button>
					</div>
				</div>
			</div>
	</div>
</div>
