<style>
  .terminal {
    background-color: #F5F5F5;
    height: 300px;
    padding: 10px;

    overflow: scroll;

  }
  .xs {
    background-color: #F5F5F5;
  }
  .gaude-red {
    background-color: #DC3912;
  }
  .gaude-orange {
    background-color: #FF9900;
  }
  .gaude-green {
    background-color: #00CC66;
  }
</style>
<div ng-controller ="DetailsController">
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
       <div class="panel-body {{color()}}">
          <div class="text-center">
           
              <div google-chart chart="chartObject" style="{{cssStyle}}"></div>
           
          </div>
        </div>  
    </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{client.name}}
        </div>
        <div class="panel-body">
          <p>CPU: {{client.cpu}}%</p>
          <p>Memoria RAM</p>
          <p>
            Total: {{client.ram[0] /1024 /1024 | number:0}} MB <br>
            Usada: {{client.ram[3] /1024 /1024 | number:0}} MB <br>
            Libre: {{client.ram[4] /1024 /1024 | number:0}} MB 
          </p>
        </div>
      </div>  
    </div>

</div>
<div class="row">

  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">Terminal beta</div>
      <div class=" panel-body xs">
        <div class="terminal">
          <p ng-repeat="p in terminal">
            {{p.item}}
          </p>

        </div>
      </div>
      <div class="panel-footer">
       <div class="form-group">
        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="glyphicon glyphicon-console"></i></div>
          <input ng-model="txt" ng-enter="entrar()" type="text" class="form-control" id="exampleInputAmount" placeholder="Enter you script">
          
        </div>
      </div>

      </div>
    </div>
  </div> 

</div>
</div>

